@font-face {
  font-family: "Cantarell";
  src: url("../fonts/ cantarell_regular/Cantarell-Regular-webfont.eot"); /* IE9 Compat Modes */
  src: url("../fonts/ cantarell_regular/Cantarell-Regular-webfont.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("../fonts/ cantarell_regular/Cantarell-Regular-webfont.woff2") format('woff2'), /* Super Modern Browsers */
       url("../fonts/ cantarell_regular/Cantarell-Regular-webfont.woff") format('woff'), /* Pretty Modern Browsers */
       url("../fonts/ cantarell_regular/Cantarell-Regular-webfont.ttf")  format('truetype'), /* Safari, Android, iOS */
       url("../fonts/ cantarell_regular/Cantarell-Regular-webfont.svg#svgFontName") format('svg'); /* Legacy iOS */
}
body {
  font-family: "Cantarell", Fallback, sans-serif;
}